body {
  font-family: 'Roboto Condensed', sans-serif;
}
h1 {
  text-align: center;
  margin-bottom: .5rem;
}
h1 + h2 {
  margin: 0;
  font-size: 1.25em;
  text-align: center;
  font-weight: 300;
}
.main-game-panel h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.main-game-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  margin: 0 auto;
}
.game-status, .game-buttons {
  text-align: center;
}
.game-status p {
  font-size: 1.25rem;
}
.player, .computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player p, .computer p {
  margin: 2rem 0;
  font-weight: 800;
}
button {
  border: none;
  background: none;
  margin: 0 .5rem;
}
button:hover {
  cursor: pointer;
}
.player-score, .computer-score {
  font-size: 5rem;
}
.modal-wrapper {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000ab;
  /* visibility: hidden; */
}
.modal {
  min-width: 250px;
  padding: 1em;
  text-align: center;
  background: goldenrod;
  z-index: 99;
}
.modal button {
  display: inline-block;
  padding: .5em 1em;
  background: crimson;
}